
body{
    font-family: 'Proxima Nova','Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1.5px;
    max-width: 100%;
}
.menu-bar{
    text-align: left;
    height: 6em;
}
.logo{
    text-decoration: none;
    color: black;
    font-size: 26px;
    font-weight: bold;
   margin-left: 3em;
    opacity: 1;
}
.logo:hover{
    color: black;
    cursor: pointer;
    opacity: 0.4;
    text-decoration: none;
}
.menu-bar ul{
   display: inline-flex;
    list-style: none;
    
}
.menu-bar ul a:hover{
    cursor: pointer;
    opacity: 1;
}
.menu-bar ul a{
    font-size: 11.5px;
    font-weight: 600;
    color: #999999;
    text-decoration: none;
    opacity: 0.8;
    letter-spacing: 1px;
     
}
.menu-bar ul li{
    margin: 2.5em 0.5em;
  position: relative;

 
}
.menu-bar ul li ul{
    display: none;
    position: absolute;
    width: 11em;
   padding: 0em 0.5em;
   background-color: #ffffffda;
   border-style: solid;
   border-color: #e0e0e0;
   border-width: 1px;
    color: #fff;
    z-index: 1;
}
.menu-bar ul li:hover ul{
    display: block;
}
.ha{
    margin-top: -2em;
}

.menu-bar ul li ul li a{
  float: left;
   margin-top: 0.2em;
}
.banner{
    max-width: 100%;
 background-image:linear-gradient(rgba(0,0,0,.15),rgba(0,0,0,.15)), url(../images/banner.jpg);
height: 50em;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;

}

.banner-inner{
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
}
.banner-inner h1{
    font-size: 60px;
    font-weight: normal;
    font-family: 'Proxima Nova','Open Sans', Arial, Helvetica, sans-serif;
    color: white;
}
.checkbtn{
    font-size: 30px;
    color: #999999;
    float: left;
    line-height: 80px;
    margin-left: 30px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    .logo{
      font-size: 27px;
      padding-left: 25px;
    }
    .menu-bar ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 600px){
    .checkbtn{
      display: block;
      margin-right: 40px;
    }
    .menu-bar ul{
        display: block;  
      position: absolute;
      width: 100%;
      height: 35vh;
      background: #ffffff;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      z-index: 1;
    }
    .menu-bar ul li{
      display: block;
      margin: 10px 0;
      line-height: 30px;
    }
    .menu-bar ul li a{
        font-size: 11.5px;
    }
   
    #check:checked ~ ul{
      left: 0;
    }
    .col-sm-4, .col-md-4, .col-xs-12{
        margin-top: 100px;
    }
    .content-page{
        margin-top: 1300px;
       float: left;
    }
    .fixed_button{
     
    }
  }
  
.text-align-center{
text-align: center;
height: 250px;
margin-top: 110px;

}
.text-align-center h1{
    font-size: 36px;
    font-family: 'Proxima Nova','Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: #222222;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.text-align-center hr { 
    display: block;
    margin-top: 100px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 90%;
  }
  .homeinfo{
      margin-top: 30px;
      width: 90%;
      height: 600px;
      margin-left: auto;
      margin-right: auto;
  }


 
  .img{
      margin-top: 20px;
    width: 98%;
    height: 60%;
  
  }
.info h1{
    text-align: left;
    font-size: 21px;
    letter-spacing: 0.5px;
    font-weight: 400;
}
.info p{
    margin-top: 30px;
    text-align: left;
    font-size: 15px;
    font-family: 'Proxima Nova','Open Sans', Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}
.info button{
    width: 127px;
    height: 43px;
    border-radius: 4px;
    font-size: 11px;
    font-family: 'Proxima Nova','Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    border-color: black;
    background-color: white;
}
.info button:hover{
    background-color: black;
    color: white;
}
.homeinfo hr { 
    display: block;
    margin-top: 110px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 98%;
  }
  .content-page{
      width: 95%;
      margin-left: 50px;
      height: 510px;
  }
  .content p{
      margin-top: 50px;
      margin-left: 30px;
      font-size: 28px;
      font-family: "ltc-bodoni-175";
      color: #444444;
      letter-spacing: 0.5px;
      font-style: italic;
  }
  .content button{
    width: 185.5px;
    height: 43px;
    border-radius: 4px;
    font-size: 11px;
    font-family: 'Proxima Nova','Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    border-color: black;
    background-color: white;
    margin-left: 30px;
    margin-top: 10px;
}
.content button:hover{
    background-color: black;
    color: white;
}
.content h1{
    font-size: 14px;
    font-family: 'Proxima Nova','Open Sans', Arial, Helvetica, sans-serif;  
    color: #666666;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 100px;
}
.content ul{
    list-style: none;
    margin-top: 20px;
}

.content a{
    font-size: 15px;
    font-family: 'Proxima Nova','Open Sans', Arial, Helvetica, sans-serif;  
    color: #999999;
    letter-spacing: 0.5px;
    margin-left: 60px;
}

.content a:hover{
    color: #666666;
    text-decoration: none;
}
.content-page hr { 
    margin-top: 150px;
    border-style: inset;
    border-width: 1px;
  }
.content-page h1{
    font-size: 14px;
    font-family: 'Proxima Nova','Open Sans', Arial, Helvetica, sans-serif;
    color: #666666;
    letter-spacing: 0.5px;
    font-weight: 600; 
    margin-top: 30px; 
    text-align: center;
    margin-right: 120px;
}
.content-page a{
    font-size: 14px;
    font-family: 'Proxima Nova','Open Sans', Arial, Helvetica, sans-serif;
    color: #888888;
    letter-spacing: 0.5px;
    margin-right: 20%; 
}
.content-page a:hover{
    color: #666666;
    text-decoration: none;
}

.fixed_button{
    position: fixed;
    bottom: 10px;
    width: 252.38px;
    height: 70px;
    margin-right: 10px;
    right: 0;
    border-color:#222222;
    z-index: 99;
    padding: 0;
    background: #222222; 
  
     }
     .fixed_button i{
         color: #fff;
         font-size: 30px;
         margin-right: 180px;
         margin-top: 10px;
         
     }
     .text1{
        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
        font-size: 14px;
        color: #fff;
        margin-top: -35px;
        margin-left: 30px;
     }
     .text2{
         padding-top: -10px;
        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
        font-size: 10px;
        color: #999999;
        margin-left: 10px;
     }
     [class*="col-"] {
        width: 100%;
      }
      